.git
.github
.gitignore
.pre-commit-config.yaml
.style.yapf
.clang_format.hook
.lycheeignore
__pycache__
*.pyc
*.pyo
*.pyd
.db
.ipynb_checkpoints
tests/
docs/
doc/
benchmark/
deploy/android_demo
deploy/ios_demo
deploy/avh
deploy/lite
deploy/paddle2onnx
deploy/slim
*.md
!README.md
LICENSE
MANIFEST.in
setup.py
pyproject.toml
mkdocs.yml
mkdocs-ci.yml
CNAME
docker-compose.yml
Dockerfile
.dockerignore
